@media (min-width:1280px){.row{margin:0 0 1rem 0}}.txt-c{text-align:center}.txt-l{text-align:left}.txt-r{text-align:right}.fl-r{float:right}.fl-l{float:left}.flex-row{display:flex;flex-direction:row}.flex-col{display:flex;flex-direction:column}.flex{flex:1}.round{-webkit-border-radius:5px;border-radius:5px}.round.circle{-webkit-border-radius:50%;border-radius:50%}.m0{margin:0}.mt0{margin-top:0}.mr0{margin-right:0}.mb0{margin-bottom:0}.ml0{margin-left:0}.mx0{margin-left:0;margin-right:0}.my0{margin-top:0;margin-bottom:0}.m1{margin:.5rem}.mt1{margin-top:.5rem}.mr1{margin-right:.5rem}.mb1{margin-bottom:.5rem}.ml1{margin-left:.5rem}.mx1{margin-left:.5rem;margin-right:.5rem}.my1{margin-top:.5rem;margin-bottom:.5rem}.m2{margin:1rem}.mt2{margin-top:1rem}.mr2{margin-right:1rem}.mb2{margin-bottom:1rem}.ml2{margin-left:1rem}.mx2{margin-left:1rem;margin-right:1rem}.my2{margin-top:1rem;margin-bottom:1rem}.m3{margin:1.5rem}.mt3{margin-top:1.5rem}.mr3{margin-right:1.5rem}.mb3{margin-bottom:1.5rem}.ml3{margin-left:1.5rem}.mx3{margin-left:1.5rem;margin-right:1.5rem}.my3{margin-top:1.5rem;margin-bottom:1.5rem}.m4{margin:2rem}.mt4{margin-top:2rem}.mr4{margin-right:2rem}.mb4{margin-bottom:2rem}.ml4{margin-left:2rem}.mx4{margin-left:2rem;margin-right:2rem}.my4{margin-top:2rem;margin-bottom:2rem}.mxn1{margin-left:-0.5rem;margin-right:-0.5rem}.mxn2{margin-left:-1rem;margin-right:-1rem}.mxn3{margin-left:-1.5rem;margin-right:-1.5rem}.mxn4{margin-left:-2rem;margin-right:-2rem}.ml-auto{margin-left:auto}.mr-auto{margin-right:auto}.mx-auto{margin-left:auto;margin-right:auto}.p0{padding:0}.pt0{padding-top:0}.pr0{padding-right:0}.pb0{padding-bottom:0}.pl0{padding-left:0}.px0{padding-left:0;padding-right:0}.py0{padding-top:0;padding-bottom:0}.p1{padding:.5rem}.pt1{padding-top:.5rem}.pr1{padding-right:.5rem}.pb1{padding-bottom:.5rem}.pl1{padding-left:.5rem}.py1{padding-top:.5rem;padding-bottom:.5rem}.px1{padding-left:.5rem;padding-right:.5rem}.p2{padding:1rem}.pt2{padding-top:1rem}.pr2{padding-right:1rem}.pb2{padding-bottom:1rem}.pl2{padding-left:1rem}.py2{padding-top:1rem;padding-bottom:1rem}.px2{padding-left:1rem;padding-right:1rem}.p3{padding:1.5rem}.pt3{padding-top:1.5rem}.pr3{padding-right:1.5rem}.pb3{padding-bottom:1.5rem}.pl3{padding-left:1.5rem}.py3{padding-top:1.5rem;padding-bottom:1.5rem}.px3{padding-left:1.5rem;padding-right:1.5rem}.p4{padding:2rem}.pt4{padding-top:2rem}.pr4{padding-right:2rem}.pb4{padding-bottom:2rem}.pl4{padding-left:2rem}.py4{padding-top:2rem;padding-bottom:2rem}.px4{padding-left:2rem;padding-right:2rem}body{font-family:'Roboto',Helvetica,sans-serif;font-size:1.4em;background-color:white}p,ul{padding:0;margin:0 0 10px 0}ul{list-style:none}a{text-decoration:none}.container-fluid{padding-top:66px}.wi-header{height:56px;box-sizing:border-box;width:100%;border-bottom:1px solid #cccccc;padding:7px 12px;position:absolute;top:0;left:0;z-index:10}.wi-header .block-2{padding-top:6px}.wi-header .logo{height:40px}.wi-header .online{line-height:1em;font-size:1.6em}.wi-header .mlt-lang{color:#197de1}.wi-header .mlt-lang .mlt-btn{display:block;width:56px;height:28px;line-height:28px;box-sizing:border-box}.wi-header .mlt-lang .mlt-btn .fa{line-height:18px;font-size:.8em}.wi-header .mlt-lang .flag-icon{font-size:16px;margin:1px 10px 1px 0}.wi-header .mlt-lang .mlt-list{display:none;width:56px;border:1px solid #cccccc}.wi-header .mlt-lang .mlt-list li{height:28px;line-height:18px;-webkit-border-radius:5px;border-radius:5px;box-sizing:border-box}.wi-header .mlt-lang .mlt-list li a{font-size:.8em;display:block;color:#197de1}.wi-header .mlt-lang .mlt-list li:hover a{color:#454545;text-decoration:none}.wi-header .mlt-lang:hover .mlt-btn{background-color:#197de1}.wi-header .mlt-lang:hover .mlt-btn .fa{color:white}.wi-header .mlt-lang:hover .mlt-list{background:white;display:block}.wi-header .search-block i{width:14px;height:14px;line-height:28px;color:#197de1}.wi-header .search-block .input-group{display:flex;flex-direction:row}.wi-header .search-block .input-group span.input-group-addon{width:24px;background:none;padding:6px 0 0 6px;box-sizing:border-box}.wi-header .search-block .input-group input{width:85%;height:28px;float:right;border-left:0;flex:1}.menuwrap{box-sizing:border-box;margin:0;padding:0;position:relative;background-color:#197de1;height:40px;overflow:visible}.menuwrap .menu{height:48px;max-width:80%}.menuwrap .menu>li{display:block;float:left;height:auto;white-space:nowrap;padding:5px 8px}.menuwrap .menu>li i{margin-right:5px;line-height:18px}.menuwrap .menu>li i.last{margin-right:0;margin-left:10px;color:rgba(255,255,255,0.5)}.menuwrap .menu>li a{padding:5px 15px;color:white}.menuwrap .menu>li:hover i.last,.menuwrap .menu>li.active i.last{color:#000}.menuwrap .menu>li:hover a,.menuwrap .menu>li.active a{background-color:white;color:#454545}.menuwrap .menu>li.open a,.menuwrap .menu>li:focus a{background-color:white;color:#454545}.menuwrap .collect{position:absolute;right:0;top:0;overflow:visible}.menuwrap .collect .dropdown-menu{right:0;left:auto}footer{height:30px;line-height:30px;background-color:lightblue}footer p{padding:0 125px}

.table-borderless tbody tr td,
.table-borderless tbody tr th,
.table-borderless thead tr th,
.table-borderless thead tr td,
.table-borderless tfoot tr th,
.table-borderless tfoot tr td {
    border: none;
}

.images-filter {
    padding: 15px 10px;
    margin-top: 15px;
    margin-bottom: 10px;
    border: 1px solid rgb(204, 204, 204);
}

body .main-content {
    color: rgb(204, 204, 204);
}

.images-filter .form-group {
    margin-right: 10px;
}

.images-grid {
    margin-bottom: 20px;
}

.images-grid div.item {
    margin-right: 10px;
    margin-top: 10px;
    float: left;
    width: 208px;
    height: 260px;
    border: 1px solid rgb(204, 204, 204);
    border-radius: 5px;
    padding: 1px;
}

.images-grid div.item div.item-image {
    border-bottom: 1px solid rgb(204, 204, 204);
}

.images-grid div.item.addnew div.item-image {
    margin-top: 80px;
    border: none;
}

div#dz-upload-image {
    cursor: pointer;
    width: 95%;
    height: 100px;
    border: 2px dashed #197de1;
    border-radius: 15px;
    margin: 5px 15px 5px 15px;
}

div#dz-upload-image .dz-message {
    text-align: center;
    padding-top: 40px;
    /*min-width: 200px;
    min-height: 200px;*/
}

.main-content .panel.panel-taxon .panel-sub-heading {
    padding-left: 15px;
    color: #464646;
}

.main-content .panel.panel-taxon {
    border: none;
    color: #464646;
}

.main-content .panel.panel-taxon .spacing {
    margin-bottom: 30px;
}

.main-content .panel.panel-taxon table.table-bordered > tbody > tr > td,
.main-content .panel.panel-taxon table.table-bordered > thead > tr > td {
    padding-left: 15px;
    border: 1px solid #d4d4d4;
}

.main-content .panel.panel-taxon table > thead > tr{
    background-color: #fafafa;
    white-space: nowrap;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.05);
}

.main-content .panel.panel-taxon > .panel-heading {
    color: #197de1;
    background-color: #fff;
}

.main-content .panel.panel-taxon.first-section {
    margin-top: 20px;
    margin-bottom: 30px;
}

.main-content .panel.panel-taxon.first-section table {
    border: none;
}

.main-content .panel.panel-taxon .list-thumbnails > a.thumbnail-taxon > img {
    max-width: 100px;
    max-height: 80px;
}